body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #282c34, #4a4e69);
    color: #fff;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.donate-button {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.donate-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.donation-container {
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.donation-input {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 60%;
    margin: 10px 0;
}

.submit-button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
